body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 500px;
  grid-gap: 3px;
}

.friends-menu {
  display: grid;
  background-color: rgb(206, 12, 206);
}

.friends-menu > p {
  display: grid;
  align-content: end;
  border-radius: 2px;
  height: fit-content;
  margin-right: 10px;
  margin-left: 10px;
  background-color: rgb(224, 82, 213);
}

.chat {
  display: grid;
  background-color: antiquewhite;
  grid-template-rows: 90% 10%;
}

/* .msg {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas: "m e" "m t ";
  width: fit-content;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 15px;
  grid-area: "p";
} */

.msg {
  display: grid;
}

.txt {
  font-family: cursive;
  font-size: 22px;
  grid-area: m;
}

.time {
  grid-area: t;
}
#box {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "p";
}
.p1 {
  background-color: rgb(144, 236, 224);
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas: "m e" "m t ";
  width: fit-content;
  border-radius: 5px;

  margin-bottom: 15px;
  grid-area: "p";
}

.p2 {
  position: relative;
  width: fit-content;
  justify-self: end;
  background-color: rgb(63, 216, 63);
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas: "m e" "m t ";
  width: fit-content;
  border-radius: 5px;
  margin-bottom: 15px;
  grid-area: "p";
}

#input-bar {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.send-btn {
  background-color: rgb(206, 12, 206);
}

.send-btn:hover {
  background-color: rgb(221, 140, 221);
}
